# dependencies
/node_modules
/examples/reactjs/node_modules
/examples/reactts/node_modules

# builds
/lib
/dist
/examples/reactjs/build
/examples/reactts/build
/examples/vanillajs/build

# dev tools
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store