.notificationapi-container {
  display: inline-block;
  position: relative;
}

.notificationapi-button {
  all: initial;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.notificationapi-button::before,
.notificationapi-button::after {
  all: unset;
}

.notificationapi-button * {
  all: unset;
}

.notificationapi-button > span {
  font-size: 1.25em;
}

.notificationapi-unread {
  background: #cc1016;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -7px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.notificationapi-unread.hidden {
  display: none;
}

.notificationapi-popup {
  all: initial;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

.notificationapi-popup.hovering {
  position: absolute;
  width: 340px;
  z-index: 2147483647;
}

@media screen and (max-width: 767px) {
  .notificationapi-popup.hovering {
    width: auto;
  }

  .notificationapi-popup.hovering .notificationapi-header button {
    display: inline-block;
  }
}

.notificationapi-popup.hovering.closed {
  display: none;
}

.notificationapi-popup.inline {
  width: 100%;
}

.notificationapi-popup * {
  all: unset;
}

.notificationapi-popup div,
.notificationapi-popup p,
.notificationapi-popup h1,
.notificationapi-popup h2,
.notificationapi-popup h3 {
  display: block;
  display: block;
}

.notificationapi-popup .notificationapi-popup-inner {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) #f8f8f8;
}

.notificationapi-popup .notificationapi-popup-inner {
  max-height: 90vh;
}

.notificationapi-popup .notificationapi-popup-inner:hover {
  scrollbar-color: #ddd #eee;
}

.notificationapi-popup .notificationapi-popup-inner::-webkit-scrollbar {
  width: 8px;
}

.notificationapi-popup .notificationapi-popup-inner::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 4px;
}

.notificationapi-popup .notificationapi-popup-inner::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.notificationapi-popup
  .notificationapi-popup-inner:hover::-webkit-scrollbar-track {
  background: #eee;
}

.notificationapi-popup
  .notificationapi-popup-inner:hover::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border: 1px solid #eee;
}

.notificationapi-popup .notificationapi-header {
  margin: 20px 16px 12px 16px;
  padding: 0;
}

.notificationapi-popup .notificationapi-header h1 {
  font-size: 24px;
  display: inline-block;
}

.notificationapi-popup .notificationapi-header button {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: translateY(-9px) rotate(135deg);
  -webkit-transform: translateY(-9px) rotate(135deg);
  margin: 0 8px 0 8px;
  display: none;
}

.notificationapi-popup .notificationapi-empty {
  padding: 40px 20px;
  text-align: center;
}

.notificationapi-popup .notificationapi-nomore {
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
}

.notificationapi-popup .notificationapi-notification {
  display: flex;
  align-self: baseline;
  margin: 0 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: default;
}

.notificationapi-popup .notificationapi-notification.unseen {
  /* background: #eef7ff; */
}

.notificationapi-popup .notificationapi-notification[href] {
  cursor: pointer;
}

.notificationapi-popup .notificationapi-notification,
.notificationapi-popup .notificationapi-notification:hover,
.notificationapi-popup .notificationapi-notification:visited {
  text-decoration: none;
  color: #111;
}

.notificationapi-popup .notificationapi-notification:hover {
  background: #f5f5f5;
}

.notificationapi-popup .notificationapi-notification-title {
  margin: 0;
  padding: 0;
}

.notificationapi-popup .notificationapi-notification-title b {
  font-weight: 600;
}

.notificationapi-popup .notificationapi-notification-imageContainer {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 12px;
  border: 1px #eee solid;
  text-align: center;
}

.notificationapi-popup .notificationapi-notification-image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.notificationapi-popup .notificationapi-notification-defaultIcon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #444;
}

.notificationapi-popup .notificationapi-notification-date {
  color: rgb(9, 75, 255);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* fonts */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?iw5q1o');
  src: url('fonts/icomoon.eot?iw5q1o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iw5q1o') format('truetype'),
    url('fonts/icomoon.woff?iw5q1o') format('woff'),
    url('fonts/icomoon.svg?iw5q1o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell-o:before {
  content: '\f0a2';
}
.icon-bell:before {
  content: '\f0f3';
}
.icon-commenting-o:before {
  content: '\f27b';
}
