.notificationapi-container {
  display: inline-block;
  position: relative;
}

.notificationapi-button {
  all: initial;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.notificationapi-button::before,
.notificationapi-button::after {
  all: unset;
}

.notificationapi-button * {
  all: unset;
}

.notificationapi-button > span {
  font-size: 1.25em;
}

.notificationapi-unread {
  background: #cc1016;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -7px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.notificationapi-unread.hidden {
  display: none;
}

.notificationapi-popup {
  all: initial;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

.notificationapi-popup.hovering {
  position: absolute;
  width: 340px;
  z-index: 2147483646;
}

@media screen and (max-width: 767px) {
  .notificationapi-popup.hovering {
    width: auto;
  }

  .notificationapi-popup.hovering .notificationapi-header button {
    display: inline-block;
  }
}

.notificationapi-popup.hovering.closed {
  display: none;
}

.notificationapi-popup.inline {
  width: 100%;
}

.notificationapi-popup * {
  all: unset;
}

.notificationapi-popup div,
.notificationapi-popup p,
.notificationapi-popup h1,
.notificationapi-popup h2,
.notificationapi-popup h3 {
  display: block;
  display: block;
}

.notificationapi-popup .notificationapi-popup-inner {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) #f8f8f8;
}

.notificationapi-popup .notificationapi-popup-inner {
  max-height: 90vh;
}

.notificationapi-popup .notificationapi-popup-inner:hover {
  scrollbar-color: #ddd #eee;
}

.notificationapi-popup .notificationapi-popup-inner::-webkit-scrollbar {
  width: 8px;
}

.notificationapi-popup .notificationapi-popup-inner::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 4px;
}

.notificationapi-popup .notificationapi-popup-inner::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.notificationapi-popup
  .notificationapi-popup-inner:hover::-webkit-scrollbar-track {
  background: #eee;
}

.notificationapi-popup
  .notificationapi-popup-inner:hover::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border: 1px solid #eee;
}

.notificationapi-popup .notificationapi-header {
  margin: 20px 16px 12px 16px;
  padding: 0;
  position: relative;
}

.notificationapi-popup .notificationapi-header h1 {
  font-size: 24px;
  display: inline-block;
}

.notificationapi-popup .notificationapi-header .notificationapi-close-button {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: translateY(-9px) rotate(135deg);
  -webkit-transform: translateY(-9px) rotate(135deg);
  margin: 0 8px 0 8px;
  display: none;
}

.notificationapi-popup
  .notificationapi-header
  .notificationapi-preferences-button {
  color: #444;
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;
}

.notificationapi-popup .notificationapi-empty {
  padding: 40px 20px;
  text-align: center;
}

.notificationapi-popup .notificationapi-nomore {
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
}

.notificationapi-popup .notificationapi-notification {
  display: flex;
  align-self: baseline;
  margin: 0 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: default;
}

.notificationapi-popup .notificationapi-notification.unseen {
  /* background: #eef7ff; */
}

.notificationapi-popup .notificationapi-notification[href] {
  cursor: pointer;
}

.notificationapi-popup .notificationapi-notification,
.notificationapi-popup .notificationapi-notification:hover,
.notificationapi-popup .notificationapi-notification:visited {
  text-decoration: none;
  color: #111;
}

.notificationapi-popup .notificationapi-notification:hover {
  background: #f5f5f5;
}

.notificationapi-popup .notificationapi-notification-title {
  margin: 0;
  padding: 0;
}

.notificationapi-popup .notificationapi-notification-title b {
  font-weight: 600;
}

.notificationapi-popup .notificationapi-notification-imageContainer {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 12px;
  border: 1px #eee solid;
  text-align: center;
}

.notificationapi-popup .notificationapi-notification-image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.notificationapi-popup .notificationapi-notification-defaultIcon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #444;
}

.notificationapi-popup .notificationapi-notification-date {
  color: rgb(9, 75, 255);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.notificationapi-preferences-container {
  z-index: 2147483647;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.notificationapi-preferences-container.closed {
  display: none;
}

.notificationapi-preferences-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  backdrop-filter: blur(2px);
}

.notificationapi-preferences-popup {
  background: #fff;
  padding: 16px;
  z-index: 1;
  border-radius: 8px;
}

.notificationapi-preferences-popup h1 {
  font-size: 24px;
  display: inline-block;
  margin: auto 16px 24px;
}

.notificationapi-preferences-close {
  border: solid black;
  border-width: 0 3px 3px 0;
  background-color: transparent;
  padding: 6px;
  transform: translateY(-9px) rotate(135deg);
  -webkit-transform: translateY(-9px) rotate(135deg);
  margin: 0 0px 0 8px;
  display: inline-block;
}

.notificationapi-preferences-empty {
  text-align: center;
  padding: 40px;
}

.notificationapi-preferences-grid {
  display: grid;
  padding: 6px;
  grid-auto-columns: minmax(60px, auto);
  column-gap: 16px;
  align-items: center;
}

.notificationapi-preferences-channel {
  text-align: center;
  width: 60px;
  height: 24px;
}

.notificationapi-preferences-title {
  font-weight: 600;
  min-width: 60px;
  max-width: 200px;
  display: inline-block;
  margin-top: 16px;
}

.notificationapi-preferences-subtitle {
  margin-left: 16px;
  margin-top: 8px;
  max-width: 200px;
}

.notificationapi-preferences-toggle {
  margin-top: 16px;
}

.notificationapi-preferences-toggle,
.notificationapi-preferences-subtoggle {
  width: 60px;
  text-align: center;
}

.notificationapi-preferences-expand {
  background: none;
  color: #222;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.notificationapi-preferences-grid *.closed {
  max-height: 0px;
  margin-top: 0;
  transition: max-height 0.15s ease-out;
}

.notificationapi-preferences-grid * {
  max-height: 200px;
  transition: max-height 0.25s ease-in;
  overflow: hidden;
}

.notificationapi-preferences-col1 {
  grid-column: 1/1;
}

.notificationapi-preferences-col2 {
  grid-column: 2/2;
}

.notificationapi-preferences-col3 {
  grid-column: 3/3;
}

.notificationapi-preferences-col4 {
  grid-column: 4/4;
}

.notificationapi-preferences-col5 {
  grid-column: 5/5;
}

.notificationapi-preferences-col6 {
  grid-column: 6/6;
}

.notificationapi-preferences-col7 {
  grid-column: 7/7;
}

.notificationapi-preferences-col8 {
  grid-column: 8/8;
}

.notificationapi-preferences-col9 {
  grid-column: 9/9;
}

.notificationapi-preferences-col10 {
  grid-column: 10/10;
}

.notificationapi-preferences-col11 {
  grid-column: 11/11;
}

.notificationapi-preferences-row1 {
  grid-row: 1/1;
}

.notificationapi-preferences-row2 {
  grid-row: 2/2;
}

.notificationapi-preferences-row3 {
  grid-row: 3/3;
}

.notificationapi-preferences-row4 {
  grid-row: 4/4;
}

.notificationapi-preferences-row5 {
  grid-row: 5/5;
}

.notificationapi-preferences-row6 {
  grid-row: 6/6;
}

.notificationapi-preferences-row7 {
  grid-row: 7/7;
}

.notificationapi-preferences-row8 {
  grid-row: 8/8;
}

.notificationapi-preferences-row9 {
  grid-row: 9/9;
}

.notificationapi-preferences-row10 {
  grid-row: 10/10;
}

.notificationapi-preferences-row11 {
  grid-row: 11/11;
}

.notificationapi-preferences-loading {
  margin: 40px auto 40px auto;
}

/* Loading animation */
.notificationapi-loading {
  text-align: center;
}

/* Switch */
.notificationapi-preferences-popup .switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.notificationapi-preferences-popup .switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 44px;
  height: 22px;
  background-color: #e6e6e6;
  border-radius: 22px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.notificationapi-preferences-popup .switch.small i {
  width: 28px;
  height: 16px;
  border-radius: 14px;
}

.notificationapi-preferences-popup .switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 40px;
  height: 20px;
  background-color: #bfbfbf;
  border-radius: 11px;
  transform: translate3d(2px, 1px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.notificationapi-preferences-popup .switch.small i::before {
  width: 24px;
  height: 14px;
}

.notificationapi-preferences-popup .switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(3px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.notificationapi-preferences-popup .switch.small i::after {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(3px, 2px, 0);
}

.notificationapi-preferences-popup .switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.notificationapi-preferences-popup .switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.notificationapi-preferences-popup .switch input {
  display: none;
}

.notificationapi-preferences-popup .switch input:checked + i {
  background-color: #1890ff;
}

.notificationapi-preferences-popup .switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.notificationapi-preferences-popup .switch input:checked + i::after {
  transform: translate3d(24px, 2px, 0);
}

.notificationapi-preferences-popup .switch input:disabled + i {
  opacity: 0.5;
}

.notificationapi-preferences-popup .switch.small input:checked + i::after {
  transform: translate3d(14px, 2px, 0);
}

/* fonts */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?xg9cqd');
  src: url('fonts/icomoon.eot?xg9cqd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xg9cqd') format('truetype'),
    url('fonts/icomoon.woff?xg9cqd') format('woff'),
    url('fonts/icomoon.svg?xg9cqd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: '\e900';
}
.icon-bell-o:before {
  content: '\f0a2';
}
.icon-bell:before {
  content: '\f0f3';
}
.icon-commenting-o:before {
  content: '\f27b';
}
.icon-cog:before {
  content: '\f013';
}
.icon-gear:before {
  content: '\f013';
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.notificationapi-preferences-popup .spinner {
  display: inline-block;
  font-size: 4em;
  height: 1em;
  line-height: 1;
  margin: 0.5em;
  animation: anim-rotate 2s infinite linear;
  text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.3);
}
